body
{
margin:0px auto;
padding:0px;
text-align:center;
font-family:"ו";
font-size:12px;
color:#333;
font-weight:normal;
}

a:link
{
font-size:12px;
font-weight:normal;
text-decoration:none;
}
a:visited
{
font-size:12px;
color:#333;
font-weight:normal;
text-decoration:none;
}
a:hover
{
font-size:12px;
color:#333;
font-weight:normal;
text-decoration:underline;
}
a:active
{
font-size:12px;
color:#333;
font-weight:normal;
text-decoration:none;
}
form
{
margin:0px;
padding:0px;
}

#top_main{
background:url(../images/top_bg1.jpg) repeat-x;
margin:0px auto;
padding:0px;
text-align:center;
height:80px;
}
.STYLE2 {color: #FFFFFF;font-size:12px;}
.top_left{
text-align:left; 
float:left; 
margin-left:20px; 
width:250px; 
padding-top:15px;
}

.top_right{
text-align:right; 
float:right; 
margin-top:15px; 
margin-right:10px;
color:#FFFFFF;
}

.top_pro{
padding-right:10px; 
color:#FFFFFF;
border-right:#FFFFFF 1px solid;
}

#wfi_main{
margin:0px auto; 
padding:0px; 
text-align:center; 
width:970px;
}

.left_nav_san{
float:left; 
text-align:left; 
width:300px;
}

.cygn_san{
background:url(../images/cy_top.jpg) no-repeat; 
width:300px; 
height:32px; 
margin-top:5px; 
padding-top:5px; 
padding-left:5px;
}

.cygn_san_main{
display:none;
background:url(../images/cy_main_bg.jpg) repeat-y; 
width:300px; 
padding:5px;
padding-left:10px;
line-height:20px;
margin-top:-10px;
}

#wfj_right_san{
float:right; 
text-align:right; 
width:650px; 
padding-top:5px;
}

#wfj_right_tab{
float:right; 
text-align:right; 
width:750px; 
padding-top:30px;
}

.book_use{
color:#4574a0; 
float:left; 
text-align:left; 
margin-bottom:10px; 
border:none;
}

.title_san{
color:#336699; 
text-align:left; 
margin-bottom:5px;
}

.right_list{
float:left; 
text-align:left;
width:320px; 
height:271px; 
margin-top:12px; 
background:url(../images/lm_bg.jpg) no-repeat; 
padding-top:3px; 
line-height:20px;
}

.ljck{
color:#FF0000;
padding-left:5px;
}

.wfj_tips{
float:right; 
text-align:right; 
background:url(../images/lm_bg.jpg) no-repeat; 
width:320px; 
height:271px;  
margin-top:12px; 
padding-top:3px; 
line-height:20px;
}

.wfj_hzk{
float:left; 
text-align:left; 
width:360px; 
margin-top:15px;
}

.wfj_hzcx{
color:#0066ff; 
margin-bottom:10px; 
margin-top:10px;
}

.wfj_zzt{
float:right; 
text-align:right; 
margin-top:30px;
width:300px;
}

.see_more{
text-align:right; 
float:right; 
margin-top:25px; 
padding-right:40px;
}

.main_bottom{
margin:0px auto; 
padding:0px; 
text-align:center; 
margin-top:20px; 
width:970px;
background:url(../images/bottom.jpg) no-repeat;
height:20px;
}

.sure_an{
background:url(../images/sure.jpg) no-repeat;
width:56px;
height:20px;
border:0px;
cursor:hand;
margin-left:60px;
}

.back_an{
background:url(../images/back.jpg) no-repeat;
width:56px;
height:20px;
border:0px;
cursor:hand;
margin-left:40px;
}

.login_in{
float:right; 
text-align:right; 
background:url(../images/login_bg.jpg) no-repeat; 
width:360px; 
height:425px; 
margin-top:5px;
color:#006699;
font-size:14px;
}

.login_in2{
float:right; 
text-align:right; 
background:url(../images/login_bg2.jpg) no-repeat; 
width:360px; 
height:565px; 
margin-top:5px;
color:#006699;
font-size:14px;
}


.login_in2{
float:right; 
text-align:right; 
background:url(../images/login_bg2.jpg) no-repeat; 
width:360px; 
height:565px; 
margin-top:5px;
color:#006699;
font-size:14px;
}

.login_content{
float:left; 
text-align:left; 
padding-top:70px;
padding-left:35px;
line-height:20px;
}

.forgotten{
float:right; 
margin-right:0px; 
_margin-right:40px; 
*margin-right:40px; 
text-decoration:underline;
}

.log_in_con{
padding-bottom:20px; 
float:right; 
text-align:right; 
margin-right:0px; 
_margin-right:20px; 
*margin-right:20px;
}

.log_in_an{
background:url(../images/log_in_bg.jpg) no-repeat; 
width:118px; 
height:30px; 
border:0px;
cursor:hand;
}

.index_ad{
float:right; 
text-align:right; 
width:360px; 
margin-top:40px;
}

.zh_nav{
text-align:left; 
float:left; 
width:965px; 
background:url(../images/nav_bg1.jpg) repeat-x; 
height:20px; 
line-height:20px;
padding-left:5px; 
padding-top:2px;
}
.background { 
display: block; 
width: 100%; 
height: 100%; 
opacity: 0.4; 
filter: alpha(opacity=40); 
background:while; 
position: absolute; 
top: 0; 
left: 0; 
z-index: 2000; 
} 
.progressBar { 
border: solid 2px #86A5AD; 
background: white url(../images/loading2.gif) no-repeat 10px 10px; 
display: block; 
width: 148px; 
height: 28px; 
position: fixed; 
top: 50%; 
left: 50%; 
margin-left: -74px; 
margin-top: -14px; 
padding: 10px 10px 10px 50px; 
text-align: left; 
line-height: 27px; 
font-weight: bold; 
position: absolute; 
z-index: 2001; 
} 